* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-form {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    margin-top: 40px;
    border: 1px solid rgb(60, 157, 170);
    border-radius: 10px;
    background-color: rgb(60, 157, 170);
    box-shadow: 10px 10px 4px 16px rgba(60, 157, 170, 0.43) inset;
    -webkit-box-shadow: 10px 10px 4px 16px rgba(60, 157, 170, 0.43) inset;
    -moz-box-shadow: 10px 10px 4px 16px rgba(60, 157, 170, 0.43) inset;
}

.main-form .sec-form {
    padding: 55px 60px;
}

/* Css for login form starts here */
.login-form {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 50px;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(60, 157, 170);
    border-radius: 10px;
    background-color: rgb(60, 157, 170);
    box-shadow: 10px 10px 4px 16px rgba(60, 157, 170, 0.43) inset;
    -webkit-box-shadow: 10px 10px 4px 16px rgba(60, 157, 170, 0.43) inset;
    -moz-box-shadow: 10px 10px 4px 16px rgba(60, 157, 170, 0.43) inset;
}

.login-form .m-form {
    padding: 40px 70px;

}
/* input{
    min-width: 40rem;
    height: 3.4rem;
    padding: 2rem 1.2rem;
    font-size: 1.8rem;
    line-height: 1.42;
    margin-top: 2rem;
    color: rgb(58, 57, 57);
    background-color: #fff;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    box-shadow: inset  0 0.1rem 0.1rem rgb(0, 0, 0/8%);
} */
