* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-form {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    margin-top: 40px;
    border: 1px solid rgb(60, 157, 170);
    border-radius: 10px;
    background-color: rgb(60, 157, 170);
    box-shadow: 10px 10px 4px 16px rgba(60, 157, 170, 0.43) inset;
    -webkit-box-shadow: 10px 10px 4px 16px rgba(60, 157, 170, 0.43) inset;
    -moz-box-shadow: 10px 10px 4px 16px rgba(60, 157, 170, 0.43) inset;
}

.main-form .sec-form {
    padding: 55px 60px;
}

/* Css for login form starts here */
.login-form {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 50px;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(60, 157, 170);
    border-radius: 10px;
    background-color: rgb(60, 157, 170);
    box-shadow: 10px 10px 4px 16px rgba(60, 157, 170, 0.43) inset;
    -webkit-box-shadow: 10px 10px 4px 16px rgba(60, 157, 170, 0.43) inset;
    -moz-box-shadow: 10px 10px 4px 16px rgba(60, 157, 170, 0.43) inset;
}

.login-form .m-form {
    padding: 40px 70px;

}