*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input{
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: grid;
    place-items: center;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}
/* 
.input{
    background-color:#3f3160;
    min-height: 500px;
    width: 420px;
    margin: 40px auto;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
}
input{
    border: 0;
    width: 220px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 18px;
    border-radius: 10px;
} */
.input input::placeholder{
    color: rgba(255, 255, 255, 0.5);
    border: none;
}
.input input:focus{
    outline: none;
}
.input input{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 400px;
    font-size: 25px;
}
